@font-face {
    font-family: Azonix;
    src: url('/fonts/Azonix.otf');
}

@media screen and (min-width:576px) {
    .carousel {
        max-width: 50%;
        margin: auto;
    }
    body{
        width: auto;
    }

    #detailModal img:hover{
        transform: scale(1.3);
    }

    #detailModal img{
        transition: .2s;
    }
}
@media screen and (max-width:576px) {
    body{
        width: fit-content;
    }
}
.container {
    background-color: #001524 !important;
}

@media screen and (max-width:576px) {
    #detailModal tr{
        display: grid;
    }
}

#detailModal img{
    width: 100%;
}

nav{
    margin-bottom: 2em;
}

.titulo-light{
    color:
        #d69340 !important;
        font-family: Azonix, sans-serif;
}

.spinner-border{
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
}

#containerRelevantes{
    border-bottom: 3px solid #d69340;
    padding-bottom: 1rem;
}

.titulo{
    color:
        #d69340 !important;
    margin-top: 20px;
    font-family: Azonix, sans-serif;
    font-size: -webkit-xxx-large;
    text-align: center;
}

h2{
    color:
        #d69340 !important;
    margin-top: 20px;
    font-family: Azonix, sans-serif;
    font-size: 6em;
}

.modal-content{
    background-color: #001524 !important;
    color:
        #d69340 !important;
}

#detailModal{
    backdrop-filter: blur(5px);    
}

body{
    color: #fefefe !important;
    background-color: #001524 !important;
}

.fondo-negro{
    background-color: #001524c5;
    font-size: small !important;
}